.ignore

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

.ccls-cache/
.cache/

# zig specific files
.zig-cache
zig-out/

# the executable
simple-2d-platformer

# No audio resources for now
resources/audio/*.mp3
